.headshot {
    width: 50%;
}

.aboutContainer {
    display: flex;
    padding-top: 100px;
}

.bio {
    width: 40%;
    margin-left: 10%;
    text-align: left;
}

.mission {
    max-width: 70%;
    margin: 0 auto;
}

.numbersContainer {
    display: flex;
}

.video {
    max-width: 100%;
}
